.container{
  text-align: center;
  position: relative;
  white-space: nowrap;
  color: black;
}
.stefan{
  margin-left: 14px;
}

.imageSize{
  height: 250px;
  width: 250px;
}
.navbar-brand{
  height: 46px;
  padding: 0;
  margin-top: 2px;
  margin-left: 2px;
  width: auto;
}
.support{
  height: 50px;
  width: 50px;
}

.logo{
  height: 46px;
  width: 46px;
}
.inbl{
  display: inline-block;
  vertical-align: top;
}
.centered {
  position: static;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
