.container{
  text-align: center;
  position: relative;
  white-space: nowrap;
  color: black;
}
.indent-left{
  margin-left: 14px;
}
.route-margin{
  margin-top: 6px;
  margin-bottom:4px;
  margin-left: 6px;
}
.imageSize{
  height: 250px;
  width: 250px;
}
.navbar-brand{
  padding: 0;
  margin-top: 2px;
  margin-left: 2px;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.support{
  height: 50px;
  width: 50px;
}

.logo{
  height: 80px;
  width: 80px;
}
.inbl{
  display: inline-block;
  vertical-align: top;
}
.centered {
  position: static;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
