<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to "application" class="navbar-brand"}}
        <img src="./assets/images/logo.png" alt="Logo" class="logo">
      {{/link-to}}
    </div>
    <div class="navbar-inner">
      <ul class="nav navbar-nav">
        {{#active-link}}
          {{#link-to "scoreboard" class="route-margin"}}
            <h4>Scorebord</h4>
          {{/link-to}}
        {{/active-link}}
        {{#active-link}}
          {{#link-to "support" class="route-margin"}}
            <h4>Uitleg</h4>
          {{/link-to}}
        {{/active-link}}
        {{#active-link}}
          {{#link-to "maintenance" class="route-margin"}}
            <h4>Onderhoud</h4>
          {{/link-to}}
        {{/active-link}}
      </ul>
    </div>
  </div>
</div>
{{outlet}}
