<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to "application" class="navbar-brand"}}
        <img src="./assets/images/logo.png" alt="Logo" class="logo">
      {{/link-to}}
    </div>
    <div class="navbar-inner">
      <ul class="nav navbar-nav">
        {{#active-link}}
          {{#link-to "scoreboard"}}
            Scorebord
          {{/link-to}}
        {{/active-link}}
        {{#active-link}}
          {{#link-to "support"}}
            Uitleg
          {{/link-to}}
        {{/active-link}}
        {{#active-link}}
          {{#link-to "maintenance"}}
            Onderhoud
          {{/link-to}}
        {{/active-link}}
      </ul>
    </div>
  </div>
</div>
{{outlet}}
