
{{#if (eq gamestate "0")}}
  <a href {{action "nextGamestate" 1 1}}><img src="./assets/images/play.png" class="imageSize"></a>
{{/if}}

{{#if (eq gamestate "1")}}
  <h1>{{username}}</h1>
  Points: {{points}}
{{/if}}
