<div class="container">
  <div class="inbl">
    {{#link-to "account" (query-params accountmode=" ")}}
      <img src="./assets/images/Single.svg" alt="Singleplayer" class="imageSize">
    {{/link-to}}
  </div>
  <div class="inbl">
    {{#link-to "game"  (query-params gamemode="multiplayer" gamestate="0" username1="" username2="")}}
      <img src="./assets/images/Multi.svg" alt="Multiplayer" class="imageSize">
    {{/link-to}}
  </div>
</div>

<div class="footer navbar-fixed-bottom">
  <div class="support-img">
    {{#link-to "support"}}
      <img src="./assets/images/questionmark.jpg" alt="Support" class="support">
    {{/link-to}}
  </div>
  {{#link-to "privacy-policy"}}
    <h5>Privacy Policy</h5>
  {{/link-to}}
</div>
{{outlet}}
