Homepage
<div class="container">
  <div class="inbl">
    {{#link-to "account" (query-params accountmode=" ")}}
      <img src="./assets/images/BlueSingleplayerCircle.png" alt="Singleplayer" class="imageSize">
      <div class="centered">Singleplayer</div>
    {{/link-to}}
  </div>
  <div class="inbl">
    {{#link-to "game" (query-params gamemode="multiplayer")}}
      <img src="./assets/images/RedMultiplayerCircle.png" alt="Multiplayer" class="imageSize">
      <div class="centered">Multiplayer</div>
    {{/link-to}}
  </div>
</div>



<div class="footer navbar-fixed-bottom">
  {{#link-to "support"}}
    <img src="./assets/images/questionmark.jpg" alt="Support" class="support">
  {{/link-to}}
  {{#link-to "privacy-policy"}}
    <h5>Privacy Policy</h5>
  {{/link-to}}
</div>
{{outlet}}
