<div class="indent-left">
  <h3><b>Belangrijke punten:</b></h3>

  <h4><b>1.</b> Wij, de makers van Balldart, zijn niet verantwoordelijk voor onverantwoordelijke gebruikersnamen.</h4>
  <h4><b>2.</b> Wij hebben liever niet dat je een wachtwoord gebruikt, die in het echt gebruikt word.</h4>
</div>
<div class="footer navbar-fixed-bottom">
    <div class="support-img">
      {{#link-to "application"}}
        <a href><img src="./assets/images/Back.svg" class="back"></a>
      {{/link-to}}
    </div>
</div>
{{outlet}}
