Privacy-Policy
<div class="footer navbar-fixed-bottom">
    <div class="support-img">
      {{#link-to "application"}}
        <a href><img src="./assets/images/Back.svg" class="back"></a>
      {{/link-to}}
    </div>
</div>
{{outlet}}
