<div class="indent-left">
  <h1>Iedere speler die gebruik maakt van het ‘balldart’ entertainment systeem,<br>
  dient zich aan de volgende regels te houden ten alle tijden:</h1>

  <h4><b>1.</b> Er mag alleen druk op de panelen worden uitgeoefend door gebruik te maken van de, door het entertainment systeem aangeboden, bal.</h4>
  <br>
  <h4><b>2.</b> De gebruikers van het entertainment systeem dienen op 1.5 meter afstand van het bord te staan indien zij willen spelen.<br>
  Het spelbord geeft ook een waarschuwing als de speler te dichtbij staat. Op dat moment zullen de LED’s van het spelbord oranje kleuren.</h4>
  <br>
  <h4><b>3.</b> Het is verboden om het spelbord anders dan met het bijgeleverde stuur te verdraaien. Het stuur wordt alleen geactiveerd in de multiplayer modus.</h4>
  <br>
  <h4><b>4.</b> De multiplayer modus kan alleen gespeeld worden door precies 2 spelers.</h4>
  <br>
  <h4><b>5.</b> Tijdens de multiplayer modus moet speler 2 op een veilige afstand staan, zodat hij niet geraakt wordt door de door speler 1 geworpen bal.</h4>
  <br>
  <h4><b>6.</b> Wilt de speler zijn of haar score opslaan, dient hij of zij een account aan te maken. Dit kan alleen in de singleplayer modus.</h4>
  <br>
  <h4><b>7.</b> Als er geen spelmodus geselecteerd is wordt er een soort regenboog afgespeeld met de led’s op het spelbord.</h4>
</div>
<div class="footer navbar-fixed-bottom">
    <div class="support-img">
      {{#link-to "application"}}
        <a href><img src="./assets/images/Back.svg" class="back"></a>
      {{/link-to}}
    </div>
</div>
{{outlet}}
